* {
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffd800;
}

/* nav */

.nav {
    text-align: center;
    text-decoration: none;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    padding: 10px; 
    margin: 15px;
}

li {
    display: inline;
    justify-content: center;
    text-decoration: none;
}

li :hover {
    color: white;
}

li :active {
    color: white;
    text-decoration: underline;
}

.p-home {
    max-width: 1800px;
    min-width: 400px;
    font-size: 24px;
}

/* home page */

header {
    color: white;
    text-align: center;
    padding: 1em;
}

.container-home{
    align-content: center;
} 

.container-home>.content>img {
    width: 300px;
    padding: 5em;
}
 
.content{
   width: 100%;
   height: auto;
   align-content: center;
   text-align: center;
}

body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 36px
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}



/* illustrations page */

.img-container {
    max-width: 400px;
    align-content: center;
    flex-wrap: wrap;
    transition: all 1s;
}

.img-container:hover {
    transform: scale(1.1);
}

/* contact */
