* {
    width: auto;
    position: relative;
    margin: auto;
    padding: 6px 20px 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffd800;
    border: 2px solid #fff
}



ul a {
    text-decoration: none;
    list-style: none;
    display: inline
    float: left;
    color: black;
    padding: 8px;
}

.nav-list {
    position: center;
}

nav a:hover {
    color: #fff;
}

nav a:active {
    color: #fff;
}

img {
    width: auto;
    margin: auto;
}

.container {
    max-width: 1080px;
}

.main
